# Environment
.env

# Ma'lumotlar bazasi
chat.db
*.db

# Celery fayl tizimi navbati
chat_api/celery_data/

# RAG/Vector DB indekslari
rag/chroma_db/
rag/knowledge_db/
rag/rag_index/

# Python
__pycache__/
*.pyc
venv/
.venv/

# Natija fayllari
review_analysis_results.json